body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}

.loading {
  display: flex;
  min-height: 500px;
  align-items: center;
  justify-content: center;
}

.userImg {
  border-radius: 100px;
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.hero .app-logo {
  max-width: 10.5rem;
}

.game {
  margin: 2rem;
  width: 250px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  /* background-color: rgb(155, 133, 160); */
  overflow: hidden;
  position: relative;
}

.game img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

.game-cotainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
.game-info h3 {
  margin: 0;
}
.game-sum {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  max-height: 100%;
}

.game:hover .game-sum {
  transform: translateY(0%);
}
header {
  /* background-color: rgb(155, 133, 160); */
  padding: 1rem;
  justify-content: flex-end;
  display: flex;
}
.h-100 {
  display: flex;
  flex-direction: column;
}
.search {
  border: 2px solid;
  border-radius: 50px;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}
.search:focus {
  outline: 0;
}

.tag {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: whitesmoke;
}

.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}
.tag.black {
  color: black;
}

.list-inline-item .btn-outline-info {
  color: #5a606b;
  border: 1px solid #5a606b;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: 500;
}
.list-inline-item .btn-outline-info:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.fa-arrow-alt-circle-right {
  color: #f4c10f;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
}
.fa-arrow-alt-circle-right:hover {
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
.createPostUpload > input {
  display: none;
}
.createPost {
  background-color: lightgrey;
  width: 100%;
  max-width: 650px;
  border-radius: 4px;
  padding: 12px 16px;
}
.uploadButton {
  border: none;
  background-color: lightgrey;
}

.createPostBottom {
  display: flex;
  justify-content: space-between;
}

.createPostTextArea {
  border: none;
  width: 100%;
  background-color: lightgrey;
  outline: none;
  font-size: 14px;
  margin-top: 6px;
}
.createPostTextArea :focus {
  outline: none;
}
#file-preview {
  display: none;
  height: 140px;
  margin: 12px;
  border-radius: 4px;
}
